* {
    box-sizing: border-box;
    margin: 0px;
    font-family: system-ui, sans-serif
    }

html {
    scroll-behavior: smooth;
   }


.first-page {
    background-image: url("images/free-photo-of-view-of-empty-beach-and-bright-blue-water.jpeg");
    background-size: 100% 100%;
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
} 
    

.middle-paragraph {
    padding-top: 45px;
}

.first-header{
   
}

.first-page .button {
    position: relative;
    top: 40%; /* change this to change button height */
    width: 100px;
    height: 20x;
    border-style: dashed;
    text-align: center;
}

.second-page {

    background-image: url("images/pexels-photo-11646148.jpeg");
    background-size: 100% 100%;
    width: 100%;
    height: 1020px;
    border-radius: 25px;
    margin-bottom: 20px;
    
}

.sptop{
    display: flex;
    justify-content: flex-end;
    padding: 4%;
    padding-right: 20%;
    
}

.past {
    width: 30rem;
    height: 5rem;
    background-color: #07718e;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  
}



.about-text {
    width: 100%;
    height: 200px;
    
    

}

.about-container1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    
    
    
}

.presentcontainer {
    padding: 4%;
    padding-left: 20%;
}


.about-container2{
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-around;
    
    
}

.present {
    width: 30rem;
    height: 5rem;
    background-color: #7e5959;
    border-radius: 20px;
    font-size: larger;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}



.about-box {
    width: 20%;
    height: 200px;
    background-color: rgba(22, 175, 221);
    border-radius: 30px;
    
}

.buttonthing2 {
    color: white;
    display: flex;
    justify-content: center;
}


 a {
  text-decoration: none;
  color: black;
 } /* this is the button behaviour */

 #A1{
background-color: #0181A8;
 }

 #A2{
background-color: #057A8A;    
 }
 
 #A3{
background-color: #00749C;
 }

 #A4{
background-color: #8D7070;
 }

 #A5{
background-color: #005A7B;
 }

 #A6{
background-color: #2A6879;
 }

 .project-container {
    background-image: url("images/canyon-swell-reef-sunlight-water-surface-Pacific.webp");
    background-size: 100% 100%;
    width: 100%;
    height: 1020px;
    border-radius: 25px;
    margin-bottom: 20px;
 }

 
 
 .project-title-cont{
    display: flex;
    justify-content: center;
    padding: 4%;
    
}

.proj-title {
    width: 30rem;
    height: 5rem;
    background-color: #27cbf96b;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.projects-box{
    width: 100%;
    height: 900px;
    display: flex;
    
    
}

.box1{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 7%;
}

.box2{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    padding: 7%;
}

.project {
    width: 50%;
    height: 200px;
    background-color: rgba(22, 175, 221);
    border-radius: 5px;
    color: white;
}

.project h1 {
    padding: 10px;
}

.project p {
    padding: 20px;
}

#pj1{
background-color: #062F38; 
}

#pj2{
background-color: #051010;    
}

#pj3{
background-color: #0E242A;    
}

#pj4{
background-color: #13414B;    
}
 



