* {
    box-sizing: border-box;
    margin: 0px;
    }

html {
    scroll-behavior: smooth;
   }

   .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  .source-code-pro {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  #source-code-pro {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }



.first-page {
    background-image: url("images/free-photo-of-view-of-empty-beach-and-bright-blue-water.jpeg");
    background-size: 100% 100%;
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    
    
} 
    

.middle-paragraph {
    width: 40%;
    height: 4%;
    background-color: rgba(19, 185, 236, 0.503);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7%;
    font-size: 1.5vw;
}

.first-header {
    width: 35%;
    height: 7%;
    background-color: rgba(167, 158, 158, 0.452);
    border-radius: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    font-size: 30px;
    font-size: 2vw;
}

.buttonthing2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}



.buttonthing3 {
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    flex-direction: column;
     /* Specify the width */
     /* Specify the height */
    background-image: url('images/Shovel-clipart-free-download-clip-art-on-3.png'); /* Initial background image */
    background-size: cover; /* Cover the entire area of the element */
    transition: background-image 0.5s ease-in-out; /* Smooth transition */
    background-size: 100% 100%;
    font-size: 2.5vw;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    
}

.buttonthing3:hover {
    background-image: url('images/istockphoto-1211843075-612x612.png'); /* Change on hover */
}





.first-page .button {
    position: absolute;
    top: 82%; /* change this to change button height */
    width: 100px;
    height: 20x;
    text-align: center;
}

.second-page {

    background-image: url("images/pexels-photo-11646148.jpeg");
    background-size: 100% 100%;
    width: 100%;
    height: 1020px;
    border-radius: 25px;
    margin-bottom: 20px;
    
}

.sptop{
    display: flex;
    justify-content: flex-end;
    padding: 4%;
    padding-right: 20%;
    font-size: 2vw;
    
}

.past {
    width: 30rem;
    height: 5rem;
    background-color: #07718e;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  
}



.about-text {
    width: 100%;
    height: 200px;
    
    

}

.about-container1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.1vw;
    
    
    
    
    
}

.presentcontainer {
    padding: 4%;
    padding-left: 20%;
    font-size: 1vw;
}


.about-container2{
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-around;
    
    
}

.present {
    width: 30%;
    height: 5%;
    background-color: #7e5959;
    border-radius: 20px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7vw;
    color: white;
    
    
}



.about-box {
    width: 20%;
    height: 200px;
    background-color: rgba(22, 175, 221);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vw;
    color: white;
    
    
}

.about-box p{
    font-size: 1.5vw;
}

@media screen and (max-width: 800px) {
	.about-box {
        font-size: 2vw;
	}
}

.about-box h1 {
    padding: 5%;
}

.buttonthing4 {
    color: white;
    display: flex;
    justify-content: center;

}

.button {
    display: flex;
    justify-content: flex-end;

    
}

.button2 {
    display: flex;
    justify-content: flex-end;
    padding-right: 30%;
}

.buttonthing4 {
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    flex-direction: column;
     /* Specify the width */
     /* Specify the height */
    background-image: url('images/X2QwA9BPnsTPmJqLYto7iaICzDHmKznA0iAchUrD.png'); /* Initial background image */
    background-size: cover; /* Cover the entire area of the element */
    transition: background-image 0.5s ease-in-out; /* Smooth transition */
    background-size: 100% 100%;
    font-size: 2vw;
    position: absolute;
    top: 180%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    
}

.buttonthing4:hover {
    background-image: url('images/a-water-splash-on-white-background-free-vector.png'); /* Change on hover */
}


 a {
  text-decoration: none;
  color: black;
 } /* this is the button behaviour */

 #A1{
background-color: #0181A8;
 }

 #A2{
background-color: #057A8A;    
 }
 
 #A3{
background-color: #00749C;
 }

 #A4{
background-color: #8D7070;
 }

 #A5{
background-color: #005A7B;
 }

 #A6{
background-color: #2A6879;
 }

 .project-container {
    background-image: url("images/canyon-swell-reef-sunlight-water-surface-Pacific.webp");
    background-size: 100% 100%;
    width: 100%;
    height: 1020px;
    border-radius: 25px;
    margin-bottom: 20px;
 }


 
 
 .project-title-cont{
    display: flex;
    justify-content: center;
    padding: 1%;
    
}

.proj-title {
    width: 30rem;
    height: 5rem;
    background-color: #27cbf96b;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.projects-box{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: stretch;
    
    
    
    
}

@media screen and (max-width: 800px) {
	.projects-box {
	flex-direction: column;
	}
}




.box1{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-top: 5%;
        padding-right: 10%;
        align-items: center;
}

.box2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-left: 10%;
    ;
    
}

.project {
    
    height: 200px;
    width: 80%;
    background-color: rgba(22, 175, 221);
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3vw;
    
    

    
    
    
}

.project img {
    height: 200px;
    width: 200px;
    align-self: flex-end;
    border-radius: 5px;
    
}

.project h1 {
    padding: 10px;
    width: 20%;
}

.project p {
    text-align: center;
    width: 20%;
}

#page3 a{
    display: flex;
    justify-content: flex-end;
}

#pj1{
background-color: #062F38; 
}

#pj2{
background-color: #051010;    
}

#pj3{
background-color: #0E242A;    
}

#pj4{
background-color: #13414B;    
}

.skill-container {
    width: 100%;
    height: 100px;
    display: flex;
    
}

@media screen and (max-width: 900px) {
	.skill-container {
        display: none
	}
}
 
.skills {
    width: 50%;
    height: 100px;
    background-color: #0E242A;
    border-radius: 10px;
    color: white;
    
    
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;


   
}

.skills img {
    width: 30px;
    height: 30px;
}

.skilltext {
    width: 15%;
    text-align: center;
    
}

.buttonthing5 {
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    
     /* Specify the width */
     /* Specify the height */
    background-image: url('images/X2QwA9BPnsTPmJqLYto7iaICzDHmKznA0iAchUrD.png'); /* Initial background image */
    background-size: cover; /* Cover the entire area of the element */
    transition: background-image 0.5s ease-in-out; /* Smooth transition */
    background-size: 100% 100%;
    font-size: 2.5vw;
    position: absolute;
    top: 280%;
    color:  white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    
    
}

.buttonthing5:hover {
    background-image: url('images/a-water-splash-on-white-background-free-vector.png'); /* Change on hover */
}

@media screen and (max-width: 800px) {
	.buttonthing5 {
        width: 50px;
    height: 50px;
    top: 285%;

	}
}


.link-container {
    background-image: url("images/FKt231024-S0611-20231107T021015Z-0-scitoo-NiceBlackSmokerCircle (1).jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 1020px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.link-page-title{
    display: flex;
    justify-content: center;
    padding: 1%;
}

.link-title {
    width: 20rem;
    height: 5rem;
    background-color: #2782f96b;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.container-links-overall {
    width: 100%;
    height: 90%;
    display: flex;

}

.container-links-left{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 6%;
    

    

}

.container-links-right{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    padding-top: 6%;
        

}

.email-tile-holder {
    width: 50%;
    height: 15%;
    border-radius: 5%;
    padding-bottom: 20px;

}

.email-title {
    width: 100%;
    height: 80%;
    background-color: #062F38;
    border-radius: 5%;
    padding-bottom: 20px;
    color: white;
 
}


.email-me {
    width: 50%;
    height: 65%;
    background-color: #062F38;
    border-radius: 5%;
}

/* start of the email box */

.email-me-container {
	background-color: #062F38;
    color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 60px;
	text-align: center;
	width: 400px;
	max-width: 100%;
}

.email-me-container p {
	color: white;
}

.email-me-container form {
	width: 100%;
}

.email-me-container .input-area {
	position: relative;
	margin: 10px 0;
	height: 44px;
	width: 100%;
}

.email-me-container .h-80 {
	height: 80px;
}

.email-me-container input, .email-me-container textarea {
  position: absolute;
	display: block;
	font-size: 14px;
	padding: 12px;
	height: 100%;
	width: 100%;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
  resize: none;
}

.email-me-container .sendbtn {
    display: block;
    width: 100%;
	background: #057A8A;
	color: white;
	font-size: 18px;
	padding: 11px;
    border-radius: 5%;
	
}

.email-me-container .sendbtn:hover {
  background-color: #99334b;
}

@media screen and (max-width: 600px) {
	.container {
		padding: 20px 30px;
	}
}


/* end of the email box */

.social-media{
    width: 40%;
    height: 55%;
    background-color: #062F38;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
}

.bubble1 {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;

    
}

.bubble2 {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;    

  
}

.bubble3 {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
  
}

.bubble4 {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
  
}

.social-media a {
    color: white;
    border: white;
    border-style: solid;
    border-radius: 5%;
}

.social-media img {
    width: 10%;
    height: 10%;
    

    

}


